body {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'lato black';
    src: url(../fonts/Lato-BlackItalic.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Lato:300');

@import url('https://fonts.googleapis.com/css?family=Oswald:600');

.row {
  padding: 0;
  margin: 0;
}

// Mobile nav
.mobile-menu {
  .mobile-nav-bar {
    min-height: 50px;
    width:100%;
    position:relative;
    cursor:pointer;
    z-index:20;
    .mobile-nav-button {
      position: absolute;
      right:10px;
      top:10px;
      display: inline-block;
      width: 31px;
      height: 30px;
      border: 0;
      padding: 0;
      background: transparent;
      cursor: pointer;
      .bar {
        width: 100%;
        float: left;
        height: 4px;
        margin-bottom: 5px;
        background-color: #414f6b;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .mobile-nav {
    height:0;
    z-index:10;
      ul {
      width:100%;
      margin:0px;
      padding:0px;
      transform:translate(0,-300px);
      -ms-transform:translate(0,-300px);
      -webkit-transform:translate(0,-300px);
      transition:all .2s ease-in-out;
      li {
        text-align: center;
        a, a:visited {
          display:block;
          padding:10px;
          text-transform: uppercase;
          font-family: 'lato black', sans-serif;
          color: #414f6b;
          text-decoration: underline;
          letter-spacing: 1px;
        }
      }
    }
    &.show-mobile-nav {
      height:auto;
      ul {
        transform:translate(0px);
        -ms-transform:translate(0px);
        -webkit-transform:translate(0px);
      }
    }
  }
}

// Desktop nav
.desktop-nav {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 100;
  .logo-text {
    opacity: 0;
  }
  a, a:visited {
    text-transform: uppercase;
    font-family: 'lato black', sans-serif;
    color: #fff;
    text-decoration: underline;
    margin: 0 40px;
    letter-spacing: 1px;
  }
  .bg {
    background: #fff;
    width: 100%;
    height: 80px;
    opacity: 0;
  }
  .show {
    opacity: 1;
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.sticky-nav {
  background-color: rgba(255, 255, 255, 1);
  color: #414f6b;
  a, a:visited {
    color: #414f6b;
  }
  .logo-text {
    opacity: 1;
  }
}

// hero
.hero {
  background-image: url('../img/hero-background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  img {
    width: 500px;
    margin-top: 70px;
    margin-right: -50px;
  }
}

// history section and carousel
.history {
  min-height: 100vh;
  background-image: url('../img/01-background.png');
  background-size: cover;
  img {
    margin-top: 60px;
  }
  p {
    font-family: 'Lato', sans-serif;
    width: 85%;
    margin: 0 auto;
    font-size: 16px;
  }
  .slider, .slider-mobile {
    background-color: rgba(65, 79, 106, 0.75);
    margin-top: 50vh;
    padding: 0 200px 20px 200px;
    .content-slider {
      img {
        width: 200px;
      }
    }
    .content-slider-mobile {
      img {
        width: 300px;
      }
    }
    .content-slider li {
      text-align: center;
    }
    .content-slider-mobile li {
      text-align: center;
    }
  }
}

// climb
.climb {
  background-color: #fff;
  padding: 20px;
  text-align: left;
  img {
    float: right;
  }
  p {
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 80px;
    width: 80%;
  }
}

// mountan links section
.mountain-links {
  background-color: #414f6b;
  padding: 10px;
  a, a:visited {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    color: #b0b4be;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }
  a.active {
    background-color: #b0b4be;
    color: #414f6b;
  }
}

// schedule section
.schedule {
  background-image: url('../img/schedule-background.png');
  background-size: cover;
  min-height: 80vh;
  .schedule-box {
    background-color: #fff;
    padding: 20px;
    margin-top: 80px;
    h1 {
      font-family: 'Oswald', sans-serif;
      color: #414f6b;
      text-transform: uppercase;
    }
    table {
      margin: 0 auto;
      tr {
        td {
          padding: 10px 20px;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
        }
      }
    }
  }
}

// footer
.footer {
  background-color: #414f6b;
  text-align: center;
  line-height: 60px;
  p {
    font-family: 'lato black', sans-serif;
    text-transform: uppercase;
    color: #63769d;
    font-size: 18px;
    margin-top: 5px;
  }
}


// *************
// Media queries
// *************

@media (max-width: 1235px) {
  .history {
    .slider, .slider-mobile {
      padding: 0 100px 20px 100px;
    }
  }
}

@media (max-width: 1025px) {
  .history {
    .slider, .slider-mobile {
      padding: 0 20px 20px 20px;
    }
    .slider {
      .content-slider {
        img {
          width: 120px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}

@media (max-width: 767px) {
  .climb {
    text-align: center;
    img {
      float: none;
    }
    p {
      width: auto;
      margin-top: 5px;
    }
  }
  .mobile-menu {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}

@media (max-width: 690px) {
  .hero {
    background-image: url('../img/mobile-hero-background.png');
    background-size: cover;
  }
}

@media (min-width: 586px) {
  .history {
    .slider {
      display: block;
    }
    .slider-mobile {
      display: none;
    }
  }
}

@media (max-width: 585px) {
  .history {

      .slider {
        display: none;
      }
      .slider-mobile {
        display: block;
      }

  }
}

@media (max-width: 415px) {
  .mountain-links {
    a {
      font-size: 18px;
    }
  }
}
